body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    box-sizing: border-box;
}


p, div {
    font-family: 'Neuton', serif;
}

.h1-primary {
    /*font-family: 'Tangerine', serif;*/
    font-family: 'Mr De Haviland', cursive;
    font-size: 65px;
    /*color: red;*/
    color: #FF3B3F;
}

.h3-succes {
    /*font-family: 'Tangerine', serif;*/
    /*font-family: 'Mr De Haviland', cursive;*/
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 1.2;
    font-style: italic;
    /*color: #4CAF50;*/
    color: #1B7B34;
}

/*logo*/
.text-new {
    font-family: 'Mr De Haviland', cursive;
    color: #4CAF50;
    /*color: rgb(14, 165, 111);*/
    font-size: 3.5rem;
    margin-left: 10px;
}

.section-important {
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 1.2;
    font-style: italic;
}

.logo-img {
    /*margin-top: -5px;*/
    margin-top: -14px;
}

.m-t-0 {
    margin-top: 0px;
}

.m-b-0 {
    margin-bottom: 0px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-t-50 {
    margin-top: 50px;
}

.m-b-50 {
    margin-bottom: 50px;
}

.m-t-100 {
    margin-top: 100px;
}

.m-b-100 {
    margin-bottom: 100px;
}

.top-50 {
    top: 50%;
}

.text-logo {
    font-family: 'Tangerine', serif;
    font-size: 40px;
    /*text-shadow: 2px 2px 2px #aaa;*/
}
.text-logo-small {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

.text-red {
    color: red;
}

.text-grey {
    color: #777;
}

.read-more {

}

.bg-1 {
    background-color: #f8f8f8;
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}
.btn-social-icon {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 34px;
    width: 34px;
    padding: 0;
}
.btn-social-icon>:first-child {
    border: none;
    text-align: center;
    width: 100% !important;
}
.btn-social-icon>:first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}
.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}
.btn-instagram {
    color: #fff;
    background-color: #3f729b;
    border-color: rgba(0,0,0,0.2);
}
.btn-pinterest {
    color: #fff;
    background-color: #cb2027;
    border-color: rgba(0,0,0,0.2);
}

.text-red {
    color: red;
}

.text-orange {
    color: orange;
}

.text-yellow {
    color: yellow;
}

.text-green {
    color: green;
}

.text-blue {
    color: blue;
}

.text-indigo {
    color: indigo;
}

.text-violet {
    color: violet;
}

.myFooter {
    border-top: 1px solid #e7e7e7;
}

.thumb {
    display: inline-block;
    margin-bottom: 3px;
}

.modal-body img {
    width: 100%;
}

.my-carousel {
    max-height: 500px;
    /* menu height */
    top: 50px; 
}

.my-carousel img {
    max-height: 500px;
}

.shop-modal img {
    width: 100%;
}

.shop-panel {
    width: 240px;
    margin-right: 10px;
}

.btn-pink {
    background-color: #EF6ECD;
    border-color: #EF6ECD;
    /*background-color: #4CAF50;
    border-color: #4CAF50;*/
    color: white;
}

.btn-pink:hover{
    color: white;
}

.btn-modal {
    cursor: pointer;
}

.turkuaz{
    color: rgb(14, 165, 111);
}

@media screen and (min-width: 769px) {
    .big-text-only-lrg {
        font-size: 16px;
    }    
    .product-info {
        padding: 20px;
    }       
}

@media screen and (max-width: 769px) {
    .h1-primary {
        font-size: 40px;
    }       
    .thumb img {
        width: 100px;
    }   
    .my-carousel {
        max-height: 200px;
    }
    .my-carousel img {
        max-height: 200px;
    }
    .text-logo {
        font-size: 30px;
    }
    .text-logo-small {
        font-size: 10px;
    }

    /*logo*/
    .text-new {
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 320px) {
    .text-logo {
        font-size: 22px;
    }
}